body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.brand-logo {
  font-size: 15px;
  text-align: left;
  flex-direction: column;
  margin-left: 10px;
}
.sidenav {
  background-color: rgb(8, 145, 122);
  color: gray;
}
#background {
  background-color: lightgoldenrodyellow;
  background-image: url("Assets/Images/backgroundPineapple.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-blend-mode: soft-light;
  width: auto;
  height: auto;
}
.slider .btn {
  margin-top: 20px;
}
#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30em;
  height:20em;
}
.lead  {
  font-family: "Open Sans", sans-serif;
  text-align: right;
  font-size: 15px;
  font-style: italic;
  color: rgb(234, 241, 243);
}
.dest {
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: rgb(34, 33, 33);
}
#modal1 {
  background-color: rgb(8, 145, 122);
  font-family: "Open Sans", sans-serif;
}
#yelpArea {
  display: center;
}
.rev {
  font-family: "Sriracha", cursive;
  font-weight: 500;
  font-size: 30px;
  margin-top: 30px;
  text-align: left;
  color: rgb(31, 30, 30);
}
#instructions {
  font-family: "Sriracha", cursive;
  font-size: 18px;
}
#videoHeader {
  font-family: "Sriracha", cursive;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: rgb(31, 30, 30);
}
#iframe {
  margin-top: 40px;
}
#itineraryArea {
  margin-top: 100px;
}
.card-header {
  padding: 10px;
  font-weight: bold;
}
.deleteButton {
  vertical-align: middle;
}
footer {
  background-color: rgb(8, 145, 122);
  margin-top: 50px;
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}
@media screen and (max-width: 600px) {
  a.brand-logo {
    font-size: 22px;
  }
}
@media screen and (max-width: 380px) {
  a.brand-logo {
    font-size: 17px;
  }
}
@media screen and (max-width: 315px) {
  a.brand-logo {
    font-size: 14px;
  }
}